/* 
    File name  : sortSytle.css
    Created on : 2015
    Author     : Peter Steensen (550020) and Denny Lüttschwager (343709)
    Project    : JavaScript anstelle Java-Applet
    Prof       : Prof. Lang
*/

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif; 
    width:960px;
    margin:10px auto;
}
line {  
    fill: none;  
    stroke: #000;  
    stroke-width: 10px;
}
line.pivot {  
    stroke: 'pink';  
    opacity: 1;
}



.SortArea {
    float: left;
    width: 250px;
    display: inline-block;     
    cursor: pointer;
}

#settings{
    width: 650px;
    border: solid 5px #da7c0c;
    padding: 5px;
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#sortDesplay{
    width: 1000px; 
    height: 800px;
    border: solid 5px #da7c0c;
    padding: 5px;
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#sortDesplayNew{  
    width: 800px; 
    padding: 80px 0 0 40px;
    border: solid 5px #da7c0c;
    padding: 5px;
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/* Heapsort Baum CSS*/
#treesvg g circle ,#startArraySvg g circle,#endArraySvg g circle{
    fill:white;
    stroke:#f78d1d;
    stroke-width:4px;
}
#treesvg g line{
    stroke:grey;
    stroke-width:3px;   
}
#g_labelInfo{
    font-size: 22px; 
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#g_labels text,#g_labels2 text{
    text-anchor:middle;
    font-size: 18px; 
    font-weight: bold;
}
#treesvg g text:hover, #treesvg g circle:hover{
    cursor:pointer;
}
#treesvg, #startArraydiv,#endArraydiv, #buttondiv{
    width: 620px;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 5px #da7c0c;   
    border-radius: .5em;    
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/* Button Klasse*/
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;	
    font-weight: bold;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

/*Dropdown CompoBox Klasse*/
.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    margin:.5em  .1em;    
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #fef4e9 transparent;
    pointer-events: none;
}
.dropdown:before {
    border-bottom-style: solid;
    border-top: none;     
}
.dropdown:after {
    margin-top: 1.0em;
    border-top-style: solid;
    border-bottom: none;
}
.dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    font-size: 20px;	
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border: 0px;   
    -webkit-appearance: none; 
    background: #f78d1d;
    cursor: pointer;
}
.dropdown-select:focus {
    z-index: 3;
    width: 100%;  
    outline-offset: -2px;
}
.dropdown-select > option {
    margin: 3px;
    padding: 6px 8px; 
    text-shadow: 0 1px 1px rgba(0,0,0,.3);  
    border-radius: 3px;    
    background: #f78d1d;    
}

/*Zusatz Farb Klasse für die anzeige*/
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}